.catalog-alphabet {
  @media #{$min-tablet} {
    display: grid;
    grid-template: repeat(5, min-content)/71.5% 1fr;
  }

  @media #{$min-desktop} {
    grid-template: repeat(9, min-content) 160px / repeat(5, 20%);
  }
}

.catalog-alphabet__alphabet-row {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media #{$min-tablet} {
    margin-bottom: 23px;
  }

  @media #{$min-desktop} {
    grid-column: span 5;
    margin-bottom: 32px;
  }

  &:nth-child(2) {
    @media #{$min-desktop} {
      grid-row: 3;
    }
  }

  &:nth-child(3) {
    @media #{$min-desktop} {
      grid-row: 5;
    }
  }

  &:nth-child(4) {
    @media #{$min-desktop} {
      grid-row: 7;
    }
  }

  &:nth-child(5) {
    @media #{$min-desktop} {
      grid-row: 9;
    }
  }

  &:last-child {
    @media #{$min-tablet} {
      margin-bottom: 0;
    }

    @media #{$min-desktop} {
      margin-bottom: 32px;
    }
  }
}

.catalog-alphabet__letter {
  box-sizing: content-box;
  border-style: solid;
  border-color: $grey-2;
  border-width: 0 1px 1px 0;
  width: 43px;
  height: 40px;
  background-color: $basic-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  @media #{$min-tablet} {
    margin-right: 43px;
    border: none;
    width: 34px;
    height: auto;
    background-color: transparent;
    font-weight: bold;
    font-size: 60px;
    opacity: 0.3;
  }

  @media #{$min-desktop} {
    flex-grow: 1;
    margin-right: 0;
  }

  &:first-child {
    border-width: 0 1px 1px 1px;
  }

  &:last-child {
    @media #{$min-tablet} {
      margin-right: 0;
    }
  }

  .catalog-alphabet__alphabet-row:first-child & {
    border-top-width: 1px;
  }
}

.catalog-alphabet__label {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @media #{$min-tablet} {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$min-desktop} {
    text-align: left;
  }
}

.catalog-alphabet__countries-list {
  display: none;
  margin-top: 11px;
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;

  @media #{$min-tablet} {
    grid-area: 1 / 2 / span 5 / span 1;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.5;
  }

  @media #{$min-desktop} {
    display: block;
    grid-area: auto;
    margin-bottom: 48px;
    min-height: 308px;
  }

  &--active {
    display: block;
  }
}

.catalog-alphabet__link {
  color: $basic-grey-font;
}
