.catalog-heading {
  background-color: $blue-background-2;
  color: $basic-white;
}

.catalog-heading__inner {
  @media #{$min-tablet} {
    display: flex;
  }
}

.catalog-heading__home {
  @media #{$max-mobile} {
    display: none;
  }
}
