.catalog-header {
  @include section-bottom-border-radius;
  background-color: $blue-background-2;
  color: $basic-white;
}

.catalog-header__inner {
  @media #{$min-tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media #{$min-desktop} {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.catalog-header__heading {
  position: relative;
  margin: 0;
  padding-bottom: 14px;
  width: min-content;

  @media #{$min-tablet} {
    padding-bottom: 72px;
  }

  &::after {
    @include heading-decoration;
  }
}

.catalog-header__home {
  @media #{$max-mobile} {
    display: none;
  }

  @media #{$min-tablet} {
    padding-bottom: 60px;
    color: $basic-white;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-header__icon {
  margin-left: 21px;
  fill: currentColor;
}
