.contacts__wrap {
  @include section-bottom-border-radius;
  position: relative;
  z-index: 5;
  padding-bottom: 12px;
  background-color: $blue-3;
}

.contacts__inner {
  font-style: normal;
}

.contacts__intro {
  text-align: center;
}

.contacts__links {
  margin-top: 20px;

  @media #{$min-desktop} {
    display: flex;
  }
}

.contacts__link {
  color: $yellow-1;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

.contacts__address {
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__location {
  @include section-bottom-border-radius;
  @include section-top-negative-margin;
  position: relative;
  z-index: 4;
  padding-top: 45px;
  padding-bottom: 34px;
}

.contacts__map {
  position: relative;
  z-index: -1;
  margin: -53px auto 0;
}
