.contacts__wrap {
  @include section-bottom-border-radius;
  position: relative;
  z-index: 5;
  padding-bottom: 12px;
  background-color: $blue-3;

  @media #{$min-tablet} {
    padding-bottom: 31px;
  }
}

.contacts__inner {
  font-style: normal;
}

.contacts__intro {
  text-align: center;
  letter-spacing: 0.01em;

  br {
    @media #{$min-tablet} {
      display: none;
    }
  }
}

.contacts__links {
  margin-top: 20px;

  @media #{$min-tablet} {
    margin-top: 41px;
  }

  @media #{$min-desktop} {
    display: flex;
  }
}

.contacts__link {
  color: $yellow-1;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

.contacts__address {
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__location {
  @include section-bottom-border-radius;
  @include section-top-negative-margin;
  position: relative;
  z-index: 4;
  padding-top: 45px;
  padding-bottom: 34px;

  @media #{$min-tablet} {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  br {
    @media #{$min-tablet} {
      display: none;
    }
  }
}

.contacts__map {
  position: relative;
  z-index: -1;
  margin: -53px auto 0;
}
