.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
  min-width: $mobile-width;

  @media #{$min-tablet} {
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
    min-width: $tablet-width;
  }

  @media #{$min-desktop} {
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
    min-width: $desktop-width;
  }
}
