.contacts__link {
  color: $yellow-1;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__location {
  background-color: $yellow-1;
  color: $basic-blue-light;
}

.contacts__address {
  font-weight: 700;
  text-transform: uppercase;
}
