.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.contacts-link__wrap {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: $blue-2;
  border-radius: 50%;
}

.contacts-link__icon {
  position: absolute;
  fill: $yellow-1;

  &--phone-1 {
    top: 35%;
    left: 30%;
  }

  &--mail-1 {
    top: 25%;
    left: 25%;
  }

  &--location {
    top: 26%;
    left: 27%;
  }

  &--phone-2,
  &--mail-2 {
    display: none;
  }
}

.contacts-link__text {
  color: inherit;
  margin-left: 15px;
}

.contacts-link--short {
  .contacts-link__text {
    display: none;
  }

  .contacts-link__wrap {
    width: 40px;
    height: 40px;

    &--phone {
      background-color: $orange-1;
    }

    &--mail {
      background-color: $yellow-2;
    }
  }

  .contacts-link__icon {
    fill: currentColor;

    &--phone-1,
    &--mail-1 {
      display: none;
    }

    &--phone-2 {
      display: block;
      top: 28%;
      left: 30%;
    }

    &--mail-2 {
      display: block;
      top: 30%;
      left: 25%;
    }
  }
}
