.container-fix {
  margin-left: auto;
  margin-right: auto;
  width: $mobile-width - 2 * $mobile-padding;

  @media #{$min-tablet} {
    width: $tablet-width - 2 * $tablet-padding;
  }

  @media #{$min-desktop} {
    width: $desktop-width - 2 * $desktop-padding;
  }

  &--tablet {
    @media #{$min-tablet} {
      width: $tablet-width - 2 * $tablet-padding;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
