@mixin short-contact-link {
  .contact-link__text {
    display: none;
  }

  .contact-link__wrap {
    width: 40px;
    height: 40px;

    &--phone {
      background-color: $orange-1;
    }

    &--mail {
      background-color: $yellow-2;
    }

    @media #{$min-desktop} {
      width: 50px;
      height: 50px;
    }
  }

  .contact-link__icon {
    fill: $basic-blue;

    &--phone-1,
    &--mail-1 {
      display: none;
    }

    &--phone-2 {
      display: block;
      top: 28%;
      left: 30%;
    }

    &--mail-2 {
      display: block;
      top: 30%;
      left: 25%;

      @media #{$min-desktop} {
        left: 31%;
      }
    }
  }
}

.contact-link__wrap {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: $blue-2;
  border-radius: 50%;

  @media #{$min-tablet} {
    width: 68px;
    height: 68px;
  }

  @media #{$min-desktop} {
    width: 90px;
    height: 90px;
  }
}

.contact-link__icon {
  position: absolute;
  fill: $yellow-1;

  &--phone-1 {
    top: 35%;
    left: 30%;

    @media #{$min-tablet} {
      top: 31%;
      width: 27.2px;
      height: 25.7px;
    }

    @media #{$min-desktop} {
      top: 35%;
      width: 36px;
      height: 34px;
    }
  }

  &--mail-1 {
    top: 25%;
    left: 25%;

    @media #{$min-tablet} {
      width: 35.5px;
      height: 37.8px;
    }

    @media #{$min-desktop} {
      width: 47px;
      height: 50px;
    }
  }

  &--location {
    top: 26%;
    left: 27%;

    @media #{$min-tablet} {
      width: 31.7px;
      height: 31.7px;
    }

    @media #{$min-desktop} {
      width: 42px;
      height: 42px;
    }
  }

  &--phone-2,
  &--mail-2 {
    display: none;
  }
}

.contact-link__text {
  color: inherit;
  margin-left: 15px;

  @media #{$min-tablet} {
    margin-left: 22px;
  }

  @media #{$min-desktop} {
    margin-left: 30px;
  }
}

.contact-link {
  display: flex;
  align-items: center;

  &--nav {
    @media #{$min-desktop} {
      @include short-contact-link;
    }
  }

  &--promo {
    @include short-contact-link;
  }
}
