.country {
  font-weight: 500;

  @media #{$min-tablet} {
    display: flex;
  }
}

.country__wrapper {
  background-color: $basic-white;

  @media #{$min-tablet} {
    order: -1;
  }
}

.country__name {
  color: $basic-black;
  line-height: 1;
}

.country__link {
  color: inherit;
}

.country__description {
  line-height: 1.12;
  opacity: 0.3;
}

.country__users {
  color: rgba($basic-blue, 0.3);
  line-height: 1.25;
}
