.countries {
  background-color: $grey-background-1;
  color: $basic-grey-font;
}

.countries__wrap {
  @media #{$min-desktop} {
    display: grid;
    grid-template: repeat(3, min-content) / repeat(2, 1fr);
  }
}

.countries__subheading {
  @include index-text-margin-left;
  margin-top: 0;
  margin-right: 50px;
}

.countries__description {
  @include index-text-margin-left;
  margin-right: 50px;
  margin-bottom: 65px;
}

.countries__inner {
  @include container-fix;
}

.countries__list {
  margin-bottom: 28px;
  padding-left: 0;
  list-style: none;

  @media #{$min-desktop} {
    order: -1;
    grid-row: span 3;
  }
}
