.filter-countries-dropdown {
  @media #{$min-tablet} {
    display: grid;
    grid-template: repeat(2, min-content) / 80% 20%;
  }
}

.filter-countries-dropdown__button {
  @media #{$min-tablet} {
    grid-column: span 2;
  }
}
