.filter-countries {
  @include section-bottom-border-radius;
  min-height: 74px;
  background-color: $grey-background-2;
  color: $blue-background-1;

  @media #{$min-tablet} {
    min-height: 190px;
  }
}

.filter-countries__wrapper {
  position: absolute;
  z-index: 80;
  width: 100%;
}

.filter-countries__underlay {
  @include section-bottom-border-radius;
  background-color: $grey-background-2;
}

.filter-countries__inner {
  @media #{$min-tablet} {
    padding-left: 33px;
    padding-right: 33px;
  }

  @media #{$min-desktop} {
    grid-template: repeat(2, min-content) / 20% 50% 30%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .filter-countries--opened & {
    @media #{$min-tablet} {
      padding-bottom: 50px;
    }
  }
}

.filter-countries__header {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 700;
  text-transform: uppercase;

  @media #{$min-tablet} {
    font-size: 20px;
    line-height: 1;
  }

  @media #{$min-desktop} {
    padding-left: 20px;
    padding-right: 57px;
  }

  .filter-countries--closed & {
    padding-bottom: 17px;
  }
}

.filter-countries__heading {
  position: relative;
  margin: 0;
  padding-left: 27px;
  font: inherit;

  @media #{$min-tablet} and #{$max-tablet} {
    padding: 0;
    font-size: 0;
  }

  @media #{$min-desktop} {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 31px;
    padding-left: 45px;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    width: 15px;
    height: 10px;
    background-image: url("../img/filter-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media #{$min-tablet} and #{$max-tablet}{
      display: none;
    }

    @media #{$min-desktop} {
      top: 0;
      width: 23px;
      height: 15px;
    }
  }
}

.filter-countries__toggle {
  cursor: pointer;
  outline: none;
  position: relative;
  margin-left: auto;
  margin-right: 12px;
  background-color: transparent;
  border: none;
  width: 17px;
  height: 17px;
  font-size: 0;

  @media #{$min-tablet} {
    order: 1;
    margin: 0;
    padding-top: 0;
    padding-right: 59px;
    padding-bottom: 0;
    width: auto;
    color: inherit;
    font: inherit;
    text-transform: uppercase;
  }

  @media #{$min-desktop} {
    grid-area: 1 / 3 / 2 / 4;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  .filter-countries--nojs & {
    display: none;
  }

  .filter-countries--opened & {
    @media #{$min-tablet} {
      padding-right: 84px;
      padding-bottom: 20px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      border-radius: 1px;
      width: 17px;
      height: 1.5px;
      background-color: $blue-background-1;

      @media #{$min-tablet} {
        top: 50%;
        right: 0;
        width: 26px;
      }
    }

    &::before {
      transform: rotate(45deg);

      @media #{$min-tablet} {
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &::after {
      transform: rotate(-45deg);

      @media #{$min-tablet} {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  .filter-countries--closed & {
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      width: 17px;
      height: 3px;
      background-image: url("../img/three-dots.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media #{$min-tablet} {
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 6px;
      }
    }
  }
}

.filter-countries__lands-list {
  flex-basis: 100%;
  margin-top: 34px;
  margin-bottom: 0;
  padding-left: 25px;
  list-style: none;

  @media #{$min-tablet} {
    display: flex;
    flex-basis: unset;
    margin: 0 auto 0 0;
    padding-left: 0;
  }

  @media #{$min-desktop} {
    grid-area: 1 / 2 / 2 / 3;
  }

  .filter-countries--closed & {
    @media #{$max-mobile} {
      display: none;
    }
  }

  .filter-countries--opened & {
    @media #{$max-mobile} {
      display: block;
    }
  }
}

.filter-countries__land {
  margin-bottom: 9px;

  @media #{$min-tablet} {
    margin-right: 28px;
    margin-bottom: 0;
  }

  @media #{$min-desktop} {
    margin-right: 32px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:last-child {
    @media #{$min-tablet} {
      margin-right: 0;
    }
  }
}

.filter-countries__label {
  cursor: pointer;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.filter-countries__dropdown {
  margin-top: 14px;
  padding-bottom: 29px;

  @media #{$min-tablet} {
    margin-top: 0;
    padding-top: 49px;
  }

  @media #{$min-desktop} {
    grid-area: 2 / 1 / span 1 / span 3;
    padding-top: 70px;
  }

  .filter-countries--closed & {
    display: none;
  }

  .filter-countries--opened & {
    display: block;
  }
}

.filter-countries__alphabet {
  padding-left: 25px;
  padding-right: 25px;

  @media #{$min-tablet} {
    margin-bottom: 47px;
    padding-left: 0;
    padding-right: 0;
  }

  @media #{$min-desktop} {
    margin-bottom: 57px;
    padding-left: 36px;
    padding-right: 33px;
  }
}

.filter-countries__button {
  outline: none;
  cursor: pointer;
  display: block;
  padding: 11px 10px 10px;
  width: 100%;

  @media #{$min-tablet} {
    padding: 35px 40px 40px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $light-blue-background-6;
  }

  &:active {
    background-color: $light-blue-background-6;
    color: inherit;

    .filter-countries__button-text {
      opacity: 0.3;
    }
  }
}

.filter-countries__button-text {
  position: relative;
  transform: translateX(12px);
  display: inline-block;

  @media #{$min-tablet} {
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 27px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -26px;
    border-radius: 1px;
    width: 17px;
    height: 1.5px;
    background-color: $blue-background-1;

    @media #{$min-tablet} {
      left: 0;
      top: 50%;
      border-radius: 2px;
      width: 26px;
      height: 2px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
