.filter-personality__form {
  border-radius: 20px;
  padding: 24px 20px 22px;
  background-color: $yellow-1;
}

.filter-personality__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.filter-personality__heading {
  float: left;
  margin-left: 5px;
  width: 100%;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.filter-personality__inner {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 0 5px;

  @media #{$min-desktop} {
    width: 100%;
  }
}

.filter-personality__field {
  border-top: 1px solid $yellow-3;
}

.filter-personality__button {
  padding: 12px;
}
