.filter-personality__fieldset {
  display: flex;
  flex-direction: column;
  background-color: $yellow-1;
  border: none;
}

.filter-personality__heading {
  float: left;
  width: 100%;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}


.filter-personality__inner {
  display: flex;
  flex-direction: column;

  @media #{$min-desktop} {
    width: 100%;
  }
}
