.flag {
  display: block;
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 3px;

  &--thailand {
    background-image: url("../img/thailand-small.png");
  }

  &--czech {
    background-image: url("../img/czech-small.png");
  }

  &--belgium {
    background-image: url("../img/belgium-small.png");
  }

  &--sri-lanka {
    background-image: url("../img/sri-lanka-small.png");
  }

  &--seychelles {
    background-image: url("../img/seychelles-small.png");
  }

  &--bosnia-and-herzegovina {
    background-image: url("../img/bosnia-and-herzegovina-small.png");
  }
}
