.level {
  &--form {
    width: 100px;
    height: 100px;
  }
}

.level__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;

  &::before {
    position: absolute;
    top: 60%;
    left: 23%;
    content: "";
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.3;
  }

  .level--index & {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba($basic-black, 0.6);
  }

  .level--form & {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      width: 51px;
      background-color: $basic-grey-font;
    }
  }
}

.level__value {
  margin: 0;
  font-size: 24px;
  font-weight: 700;

  .level--index & {
    margin-top: 7px;
    margin-left: -3px;
    color: $basic-white;
  }

  .level--form & {
    margin-top: -5px;
    margin-bottom: 9px;
    color: $basic-blue;
    font-size: 38px;
  }

  &--catalog {
    color: $basic-blue-light;
  }
}

.level__text {
  margin: 0;
  color: $basic-grey-font;
  font-size: 18px;
  font-weight: 400;

  .level--index & {
    margin-left: -3px;
    color: $basic-white;
    font-size: 14px;
  }

  &--inherit {
    font: inherit;
  }
}

.level__progress-ring {
  position: absolute;
}

.level__circle {
  stroke: $orange-1;
  stroke-width: 4;
  stroke-linecap: round;
  fill: transparent;

  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  .level--form & {
    stroke-width: 3;
  }
}
