.level__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;

  &::before {
    position: absolute;
    top: 55%;
    left: 23%;
    content: "";
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.3;
  }

  &--index {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba($basic-black, 0.6);
  }

  &--form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;

    @media #{$min-tablet} {
      width: 94px;
      height: 94px;
    }

    &::before {
      width: 51px;
      background-color: $basic-grey-font;

      @media #{$min-desktop} {
        background-color: $basic-white;
        opacity: 0.3;
      }
    }
  }
}

.level__value {
  margin: 0;
  font-size: 24px;
  font-weight: 700;

  &--index {
    margin-top: 6px;
    margin-left: -3px;
    color: $basic-white;
  }

  &--form {
    margin-top: -5px;
    margin-bottom: 9px;
    color: $basic-blue;
    font-size: 38px;

    @media #{$min-tablet} {
      margin-bottom: 6px;
    }

    @media #{$min-desktop} {
      color: $basic-white;
    }
  }

  &--catalog {
    color: $basic-blue-light;
  }
}

.level__text {
  margin: 0;
  color: $basic-grey-font;
  font-size: 18px;
  font-weight: 400;

  &--index {
    margin-left: -3px;
    color: $basic-white;
    font-size: 14px;
  }

  &--form {
    @media #{$min-desktop} {
      color: $basic-white;
    }
  }
}

.level__progress-ring {
  position: absolute;

  &--form {
    @media #{$min-desktop} {
      top: -7px;
    }
  }
}

.level__circle {
  stroke: $orange-1;
  stroke-width: 4;
  stroke-linecap: round;
  fill: transparent;

  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  &--form {
    stroke-width: 3;
    transform: rotate(-90deg) scale(1.05);

    @media #{$min-tablet} {
      transform: rotate(-90deg) scale(0.99) translateX(3px);
    }
  }
}
