.location {
  background-color: $yellow-1;
  color: $basic-blue-light;
}

.location__inner {
  font-style: normal;
}

.location__address {
  margin-bottom: 33px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;

  @media #{$min-tablet} {
    margin-bottom: 44px;
  }
}

.location__text {
  @media #{$min-tablet} {
    margin-left: 25px;
  }
}

.location__button {
  border: $blue-3 3px solid;
  padding: 18px 20px 20px;

  @media #{$min-tablet} {
    padding: 25px 32px;
  }
}
