.main-index__about {
  @include index-bottom-border-radius;
  position: relative;
  z-index: 10;

  @media #{$min-tablet} {
    padding-bottom: 53px;
  }

  @media #{$min-desktop} {
    padding-bottom: 0;
  }
}

.main-index__countries {
  @include index-bottom-border-radius;
  position: relative;
  z-index: 9;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 34px;

  @media #{$min-tablet} {
    margin-top: -60px;
    padding-top: 131px;
    padding-bottom: 82px;
  }

  @media #{$min-desktop} {
    padding-top: 146px;
    padding-bottom: 85px;
  }
}

.main-index__users {
  @include index-bottom-border-radius;
  position: relative;
  z-index: 8;
  margin-top: -30px;
  padding-top: 76px;
  padding-bottom: 30px;

  @media #{$min-tablet} {
    margin-top: -60px;
    padding-top: 159px;
    padding-bottom: 88px;
  }

  @media #{$min-desktop} {
    padding-top: 186px;
    padding-bottom: 134px;
  }
}

.main-index__pricing {
  @include index-bottom-border-radius;
  position: relative;
  z-index: 7;
  margin-top: -30px;
  padding-top: 60px;
  padding-bottom: 37px;

  @media #{$min-tablet} {
    margin-top: -60px;
    padding-bottom: 62px;
  }

  @media #{$min-desktop} {
    padding-top: 93px;
    padding-bottom: 165px;
  }
}

.main-index__feedback {
  margin-top: -30px;
  padding-top: 75px;
  margin-bottom: 29px;

  @media #{$min-tablet} {
    margin-top: -60px;
    padding-top: 88px;
  }

  @media #{$min-desktop} {
    padding-top: 120px;
  }
}

.main-index__contacts {
  @media #{$min-tablet} {
    margin-top: 56px;
  }

  @media #{$min-desktop} {
    margin-top: 65px;
  }
}
