.main-form {
  background-color: $light-blue-background-3;
  color: $basic-blue-light;
}

.main-form__header {
  @include section-bottom-border-radius;
  margin-top: 92px;
  background-color: $blue-background-2;
}

.main-form__heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  width: min-content;
  margin-right: auto;

  &::after {
    @include heading-decoration;
  }
}

.main-form__profile {
  margin-top: -40px;
  padding-top: 40px;
}

.main-form__plans {
  @include index-top-border-radius;
  margin-top: 33px;
  padding-top: 5px;
}
