.main-catalog {
  background-color: $grey-background-1;
  color: $basic-blue-light;
}

.main-catalog__header {
  position: relative;
  padding-top: 93px;
  background-color: $blue-background-2;
  color: $basic-white;

  @media #{$min-tablet} {
    display: flex;
  }
}

.main-catalog__home {
  @media #{$max-mobile} {
    display: none;
  }
}

.main-catalog__filter-countries {
  margin-top: -20px;
  padding-top: 41px;
}

.main-catalog__inner {
  padding-top: 22px;

  @media #{$min-desktop} {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

.main-catalog__filter-personality {
  @media #{$min-desktop} {
    grid-area: 1 / 2 / span 1 / span 1;
  }
}

.main-catalog__user-catalog {
  @media #{$min-desktop} {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}
