@mixin nav-tablet-left-margin {
  margin-left: 57px;
}

.main-nav {
  width: 100%;
  background-color: $basic-white;
  color: $basic-blue;

  @media #{$min-desktop} {
    position: fixed;
    background-color: inherit;
  }

  &--opened {
    @media #{$max-tablet} {
      position: absolute;
      z-index: 30;
    }
  }

  &--closed {
    @media #{$max-tablet} {
      background-color: transparent;
      position: absolute;
    }
  }
}

.main-nav__inner {
  position: relative;
  z-index: 2;
  padding: 27px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media #{$min-tablet} {
    padding-top: 45px;
    padding-bottom: 80px;
  }

  .main-nav--opened & {
    @media #{$max-tablet} {
      position: relative;
    }
  }

  .main-nav--closed & {
    @media #{$max-tablet} {
      padding-bottom: 0;
      min-height: 495px;

      @media #{$min-tablet} {
        min-height: auto;
      }
    }
  }
}

.main-nav__logo {
  display: block;
  margin-bottom: 25px;
  flex-basis: 85%;

  @media #{$min-tablet} {
    margin: 0;
    flex-basis: auto;
    order: -3;
  }
}

.main-nav__toggle {
  position: relative;
  display: block;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;

  @media #{$min-tablet} {
    top: -5px;
    left: 10px;
    align-self: flex-end;
    order: -2;
  }

  @media #{$min-desktop} {
    display: none;
  }

  .main-nav--no-js & {
    display: none;
  }

  .main-nav--opened & {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 25px;
      height: 2px;
      background-color: $grey-2;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed & {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 25px;
      height: 3px;
      border-radius: 1.5px;
      background-color: $basic-white;
      box-shadow: 0 8px 0 0 $basic-white;
    }

    @media #{$min-tablet} {
      top: 2px;
      left: 10px;
      align-self: center;
    }
  }
}

.main-nav__login {
  display: block;
  margin: 25px auto;
  flex-basis: 100%;
  padding: 10px;
  color: inherit;
  line-height: 1.76;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  align-self: center;

  @media #{$min-tablet} {
    margin: -5px 0 0;
    padding: 15px 32px;
    flex-basis: auto;
    order: -1;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 400;
  }

  @media #{$min-desktop} {
    order: 1;
  }

  &--short {
    padding: 12px 39px 8px;
    flex-basis: auto;
    line-height: 1.18;
  }

  .main-nav--closed & {
    @media #{$max-tablet} {
      margin: 0;
      align-self: flex-end;
      order: 1;

      @media #{$min-tablet} {
        margin-top: -5px;
        padding: 12px 24px 8px;
        align-self: unset;
        font-weight: 700;
      }
    }
  }
}

.main-nav__site-nav {
  flex-basis: 100%;
  margin: 45px auto 25px;

  @media #{$min-tablet} {
    @include nav-tablet-left-margin;
    margin-top: 88px;
    margin-bottom: 107px;
  }

  @media #{$min-desktop} {
    flex-basis: auto;
  }

  .main-nav--closed & {
    @media #{$max-tablet} {
      display: none;
    }
  }
}

.main-nav__contacts {
  flex-basis: 100%;
  margin: 28px auto;

  @media #{$min-tablet} {
    @include nav-tablet-left-margin;
    margin-bottom: 117px;
  }

  @media #{$min-desktop} {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
  }

  .main-nav--closed & {
    @media #{$max-tablet} {
      display: flex;
      flex-wrap: wrap;
      align-self: flex-end;
      margin: 0;
      flex-basis: auto;

      @media #{$min-tablet} {
        display: none;
      }
    }
  }
}

.main-nav-contact {
  color: inherit;
  line-height: 1.12;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;

  @media #{$min-tablet} {
    font-size: 28px;
    line-height: 1;
  }
}

.main-nav__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 21%;
  flex-basis: 100%;

  @media #{$min-tablet} {
    @include nav-tablet-left-margin;
    justify-content: flex-start;
  }

  @media #{$min-desktop} {
    display: none;
  }

  .main-nav--closed & {
    display: none;
  }
}

.main-nav__social-item {
  margin-left: 31px;
}
