.main-catalog {
  background-color: $grey-background-1;
  color: $basic-blue-light;
}

.main-catalog__header {
  position: relative;
  padding-top: 93px;
  background-color: $blue-background-2;
  color: $basic-white;

  @media #{$min-tablet} {
    display: flex;
    padding-top: 218px;
  }
}

.main-catalog__home {
  @media #{$max-mobile} {
    display: none;
  }
}

.main-catalog__filter-countries {
  margin-top: -20px;
  padding-top: 41px;

  @media #{$min-tablet} {
    margin-top: -50px;
    padding-top: 112px;
  }
}

.main-catalog__inner {
  padding-top: 22px;

  @media #{$min-tablet} {
    padding-top: 42px;
  }

  @media #{$min-desktop} {
    display: grid;
    grid-template-columns: 951px 285px;
    grid-column-gap: 85px;
  }
}

.main-catalog__filter-personality {
  @media #{$min-tablet} {
    margin-bottom: 41px;
  }

  @media #{$min-desktop} {
    grid-area: 1 / 2 / span 1 / span 1;
  }
}

.main-catalog__user-catalog {
  margin-top: 28px;
  padding-bottom: 154px;

  @media #{$min-tablet} {
    margin-top: 0;
    padding-bottom: 127px;
  }

  @media #{$min-desktop} {
    grid-area: 1 / 1 / span 1 / span 1;
    padding-bottom: 144px;
  }
}
