.nav-contacts {
  @media #{$min-desktop} {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav-contacts__link {
  color: inherit;
  line-height: 1.12;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
