.planning-subheading {
  float: left;
  width: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;

  @media #{$min-tablet} {
    font-size: 36px;
  }
}

.planning-subheading__step,
.planning-subheading__title {
  display: block;
}
