.planning-dates__options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;

  @media #{$min-tablet} {
    margin-top: 40px;
  }

  @media #{$min-desktop} {
    flex-direction: row;
  }
}

.planning-dates__option {
  @media #{$min-tablet} {
    border-top: 1px solid $grey-1;
    padding-top: 25px;
  }

  &--companions {
    @media #{$min-tablet} {
      order: -2;
    }
  }

  &--duration {
    @media #{$min-desktop} {
      flex-basis: 100%;
    }
  }
}

.planning-dates__children {
  margin-bottom: 27px;
  margin-top: 10px;
  font-weight: 400;

  @media #{$min-tablet} {
    order: -1;
    margin-top: 13px;
    margin-bottom: 36px;
  }
}

.planning-dates__checkbox-label {
  position: relative;
  display: block;
  margin-left: 40px;
  font-size: 15px;
  line-height: 1;

  @media #{$min-tablet} {
    margin-left: 58px;
    font-size: 20px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  &::before {
    @include border;
    position: absolute;
    top: -7px;
    left: -39px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 4px;
    content: "";

    @media #{$min-tablet} {
      left: -57px;
      width: 36px;
      height: 36px;
    }
  }
}

input:checked + .planning-dates__checkbox-label {
  &::before {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;

    @media #{$min-tablet} {
      background-size: 12px 12px;
    }
  }
}

.planning-dates__calendar {
  margin-bottom: 23px;
  flex-basis: 100%;

  @media #{$min-tablet} {
    margin-top: 39px;
    margin-bottom: 47px;
  }
}
