.plans {
  background-color: $light-blue-background-1;
}

.plans__item {
  background-color: $basic-white;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;

  @media #{$min-tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.plans__title {
  font-size: 14px;
  text-transform: none;
  font-weight: 700;

  @media #{$min-tablet} and #{$max-tablet} {
    flex-basis: 100%;
  }
}

.plans__edit {
  color: rgba($basic-black, 0.3);
}
