.planning {
  background-color: $grey-background-3;
}

.planning__heading {
  margin-bottom: 30px;
}

.planning__step {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 22px 24px;
  border: none;
  border-radius: 10px;
  background-color: $basic-white;

  @media #{$min-desktop} {
    display: grid;
    grid-template: repeat(4, min-content) / 20% 50% 30%;
  }
}

.planning__subheading {
  margin-bottom: 16px;

  @media #{$min-desktop} {
    grid-area: 1 / 1 / span 1 / span 2;
  }
}

.planning__description {
  color: $basic-grey-font;
  font-weight: 400;

  @media #{$min-desktop} {
    grid-area: 2 / 1 / span 1 / span 2;
  }
}

.planning__states {
  @media #{$min-desktop} {
    grid-area: 1 / 3 / span 2 / span 1;
  }
}

.planning__body {
  @media #{$min-desktop} {
    grid-area: 3 / 1 / span 1 / span 4;
  }
}

.planning__button {
  padding: 5px 10px;
  line-height: 1.76;
  text-transform: uppercase;

  @media #{$min-desktop} {
    grid-area: 4 / 1 / span 1 / span 1;
  }
}

.planning__buttons {
  @media #{$min-tablet} {
    display: flex;
  }

  @media #{$min-desktop} {
    grid-area: 4 / 1 / span 1 / span 4;
  }
}
