.planning-states {
  padding-left: 0;

  &--no-text {
    display: flex;
    justify-content: space-between;
    width: 43px;
    height: 5px;

    @media #{$min-desktop} {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media #{$min-desktop} {
      display: block;
    }
  }
}

.planning-states__state {
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}
