.plans {
  background-color: $light-blue-background-1;
}

.plans__item {
  padding: 23px 24px;
  background-color: $basic-white;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;

  @media #{$min-tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
  }
}

.plans__title {
  font-size: 14px;
  text-transform: none;
  font-weight: 700;

  @media #{$min-tablet} {
    font-size: 24px;
  }

  @media #{$min-tablet} and #{$max-tablet} {
    flex-basis: 100%;
  }
}

.plans__list {
  margin-top: 33px;
  padding-left: 0;
}

.plans__item {
  list-style: none;
  counter-increment: myCounter;
  margin-bottom: 10px;
  border-radius: 10px;

  &::before {
    display: inline;
    content: counter(myCounter)". ";
    font-size: 16px;
  }
}

.plans__title {
  display: inline;
  font-size: 16px;
}

.plans__companion {
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 0.07em;
}

.plans__dates {
  margin-top: 5px;
  margin-bottom: 24px;
  letter-spacing: 0.07em;
}

.plans__edit {
  color: rgba($basic-black, 0.3);
  letter-spacing: 0.04em;
}
