.planning {
  background-color: $grey-background-3;
}

.planning__states {
  font-size: 0;
}

.planning__step {
  background-color: $basic-white;
  border: none;
}

.planning__description {
  color: $basic-grey-font;
  font-weight: 400;
}

.planning__button {
  line-height: 1.76;

  text-transform: uppercase;
}
