.planning-dates__options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;

  @media #{$min-desktop} {
    flex-direction: row;
  }
}

.planning-dates__option {
  &--companions {
    @media #{$min-tablet} {
      order: -2;
    }
  }

  &--duration {
    @media #{$min-desktop} {
      flex-basis: 100%;
    }
  }
}

.planning-dates__children {
  margin-bottom: 27px;

  @media #{$min-tablet} {
    order: -1;
  }
}

.planning-dates__checkbox-label {
  font-size: 15px;
  line-height: 1;
}

.planning-dates__calendar {
  margin-bottom: 23px;
  flex-basis: 100%;
}
