.pricing {
  background-color: $grey-background-1;
  color: $basic-grey-font;
}

.pricing__wrap {
  width: $mobile-width;
}

.pricing__inner {
  @include index-text-margin-left;
  padding-top: 20px;

  @media #{$min-tablet} {
    margin-left: 0;
  }
}

.pricing__subheading {
  margin-top: 0;
  margin-right: 95px;

  @media #{$min-tablet} {
    margin-top: 50px;
    margin-right: 0;
    text-align: center;
  }
}

.pricing__price-list {
  margin: 45px 45px 26px 0;

  @media #{$min-tablet} {
    margin: 75px 35px 38px 90px;
  }
}

.pricing__link {
  color: $blue-1;
  line-height: 1;
  font-weight: 700;

  @media #{$min-tablet} {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1;
  }
}

.pricing__icon {
  display: none;

  @media #{$min-tablet} {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: $grey-background-4;
  }

  svg {
    @media #{$min-tablet} {
      position: absolute;
      top: 28%;
      left: 29%;
    }
  }
}

.pricing__text {
  @media #{$min-tablet} {
    margin-left: 20px;
  }
}
