.profile-transport-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.profile-transport-list__wrap {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: $basic-white;

  @media #{$min-tablet} {
    width: 44px;
    height: 44px;
  }
}

.profile-transport-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $grey-5;

  @media #{$min-tablet} {
    width: 23px;
    height: 22px;
  }

  input:checked + .profile-transport-list__wrap & {
    fill: $basic-blue-light;
  }
}
