.profile__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;

  @media #{$min-tablet} {
    padding-top: 66px;
  }

  @media #{$min-desktop} {
    justify-content: flex-end;
  }
}

.profile__level {
  margin-left: 17px;

  @media #{$min-tablet} {
    margin-top: 3px;
  }
}

.profile__avatar {
  display: block;
  margin-right: 18px;
  border-radius: 50%;

  @media #{$min-tablet} {
    border-radius: 7px;
    margin-right: 0;
    width: 94px;
    height: 94px;
  }
}

.profile__file {
  display: block;
  border: none;
  border-radius: 20px;
  flex-basis: 100%;
  margin-top: 18px;
  padding: 10px;
  background-color: $light-blue-background-1;
  color: $basic-blue;
  font-size: 20px;
  line-height: 0.9;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  @media #{$min-tablet} {
    margin-top: 48px;
    margin-bottom: 20px;
    padding: 21px;
    border-radius: 10px;
    letter-spacing: 0.09em;
  }

  @media #{$min-desktop} {
    text-align: right;
  }
}

.profile__level {
  @media #{$min-tablet} {
    order: -2;
    margin-left: 0;
  }
}

.profile__subheading {
  display: block;
  padding: 0 18px;
  width: min-content;
  background-color: $light-blue-background-3;
  line-height: 1.12;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media #{$min-tablet} {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.08em;
  }

  &--label {
    margin: -9px auto 0;

    @media #{$min-tablet} {
      order: 1;
      margin: 0 auto -9px;
    }
  }

  &--legend {
    @media #{$min-tablet} {
      position: absolute;
      bottom: 3px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}

.profile__transports {
  @include border;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 14px;
  border-radius: 10px;
  flex-basis: 100%;

  @media #{$min-tablet} and #{$max-tablet} {
    position: relative;
    order: -1;
    flex-basis: 308px;
    padding-top: 22px;
  }

  @media #{$min-desktop} {
    flex-basis: 49%;
  }
}

.profile__transport-list {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media #{$min-tablet} {
    margin-left: -4px;
  }
}

.profile__tags {
  @include border;
  border-radius: 10px;
  flex-basis: 100%;
  margin-top: 14px;

  @media #{$min-tablet} {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  @media #{$min-desktop} {
    flex-basis: 50%;
  }
}

.profile__tag-list {
  resize: none;
  border: none;
  padding: 15px 23px 10px;
  width: 100%;
  height: 73px;
  background-color: transparent;
  color: rgba($basic-grey-font, 0.6);
  font-family: inherit;
  line-height: 1.12;

  @media #{$min-tablet} {
    padding: 32px 41px 10px;
    height: 82px;
    font-size: 20px;
    line-height: 1.1;
  }

  &:focus {
    outline: none;
  }
}
