.promo__wrap {
  background-image: url("../img/globe-back-mobile.png");
  background-position-y: -25%;
  background-repeat: no-repeat;
}

.promo__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__heading {
  padding: 15px 0 50px;
  min-height: 400px;
  text-align: center;
}

.promo__review {
  margin: 0;
}
