.promo {
  @media #{$min-desktop} {
  background-image: url("../img/traveller-illustration-desktop.png"),
    url("../img/globe-back-desktop.png");
  background-position: right 40% bottom, center bottom;
  background-size: auto, 100% 750px;
  background-repeat: no-repeat;
  }
}

.promo__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media #{$min-tablet} {
    min-height: 995px;
    background-image: url("../img/traveller-illustration-tablet.png"),
      url("../img/globe-back-tablet.png");
    background-position: right 28% bottom 25%, center bottom;
    background-size: auto, 100% 612px;
    background-repeat: no-repeat;
  }

  @media #{$min-desktop} {
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 190px $desktop-padding 83px;
    width: $desktop-width;
    min-height: 750px;
    background-image: none;
  }
}

.promo__header {
  background-image: url("../img/traveller-illustration-mobile.png"),
    url("../img/globe-back-mobile.png");
  background-position: 60% bottom, center 30%;
  background-size: auto, 100% 568px;
  background-repeat: no-repeat;

  @media #{$min-tablet} {
    background-image: none;
  }

  @media #{$min-desktop} {
    margin-left: 70px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: auto;
    width: 420px;
  }
}

.promo__heading {
  margin-bottom: auto;
  position: relative;
  z-index: 1;
  padding: 15px 0 50px;
  min-height: 400px;
  text-align: center;
  line-height: 1.11;

  @media #{$min-tablet} {
    margin: 142px 10% 0;
    min-height: unset;
    line-height: 1.17;
  }

  @media #{$min-desktop} {
    margin: 0;
    text-align: left;
  }
}

.promo__review {
  margin: 0;

  @media #{$min-desktop} {
    margin-top: 17px;
    margin-right: 20px;
  }
}

.promo__todo-list-wrap {
  padding-bottom: 40px;
  flex-basis: 100%;
  background-color: $blue-3;

  @media #{$min-tablet} {
    margin-top: auto;
    background-color: transparent;
  }
}

.promo__todo-list {
  margin-bottom: 0;
  margin-top: -80px;

  @media #{$min-tablet} {
    position: relative;
    z-index: 20;
    margin-top: 0;
    margin-bottom: -180px;
  }

  @media #{$min-desktop} {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
