.promo {
  background-color: $basic-blue;

  @media #{$min-tablet} {
    background-color: $blue-background-2;
  }

  @media #{$min-desktop} {
    border-radius: 0 0 60px 60px;
    background-color: $basic-blue;
    background-image: url("../img/traveller-illustration-desktop.png"),
      url("../img/globe-back-desktop.png");
    background-position: calc(45% + 150px) bottom, left bottom;
    background-size: auto, 1440px 750px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.png");
      background-size: 431px 640px, 1440px 750px;
    }
  }
}

.promo__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media #{$min-tablet} {
    min-height: 995px;
    background-color: inherit;
    background-image: url("../img/traveller-illustration-tablet.png"),
      url("../img/globe-back-tablet.png");
    background-position: right 28% bottom 25%, center bottom;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png"),
        url("../img/globe-back-tablet@2x.png");
      background-size: 372px 451px, 1479px 612px;
    }
  }

  @media #{$min-desktop} {
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 190px $desktop-padding 83px;
    width: $desktop-width;
    min-height: 750px;
    background-color: transparent;
    background-image: none;
  }
}

.promo__header {
  background-color: inherit;
  background-image: url("../img/traveller-illustration-mobile.png"),
    url("../img/globe-back-mobile.png");
  background-position: 63% bottom, left top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-mobile@2x.png");
    background-size: 192px 255px, 320px 569px;
  }

  @media #{$min-tablet} {
    background-color: transparent;
    background-image: none;
  }

  @media #{$min-desktop} {
    margin-left: 70px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.promo__heading {
  margin-bottom: auto;
  position: relative;
  z-index: 1;
  padding-top: 56px;
  padding-bottom: 50px;
  min-height: 441px;
  text-align: center;
  line-height: 1.11;

  @media #{$min-tablet} {
    margin-top: 103px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: unset;
    line-height: 1.17;
  }

  @media #{$min-desktop} {
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    min-width: unset;
    width: 420px;
    text-align: left;
  }
}

.promo__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  color: $basic-blue;

  @media #{$min-tablet} {
    display: none;
  }
}

.promo__contacts {
  display: flex;
  flex-wrap: wrap;
}

.promo__contact {
  color: inherit;
}

.promo__login {
  padding: 10px 39px 10px 40px;
  color: inherit;
}

.promo__review {
  margin: 0;

  @media #{$min-desktop} {
    margin-top: 17px;
    margin-right: 20px;
  }
}

.promo__todo-list-wrap {
  padding-bottom: 43px;
  flex-basis: 100%;
  background-color: $blue-3;

  @media #{$min-tablet} {
    margin-top: auto;
    padding-bottom: 36px;
    background-color: transparent;
  }

  @media #{$min-desktop} {
    margin-top: 0;
  }
}

.promo__todo-list {
  margin-bottom: 0;
  margin-top: -81px;

  @media #{$min-tablet} {
    position: relative;
    z-index: 20;
    margin-top: 0;
    margin-bottom: -172px;
  }

  @media #{$min-desktop} {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
