@mixin review {
  display: block;
  width: 63%;
  margin-left: 25px;
}


.review {
  width: 100%;
  min-height: 285px;
  background-color: $basic-blue;
}

.review__wrap {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.review__quote {
  @include review;
  margin-bottom: 20px;
}

.review__author {
  @include review;
  font-style: normal;
  font-weight: 700;
}
