.tag-list {
  padding-left: 0;
  list-style: none;
  line-height: 1;
  font-weight: 400;

  @media #{$min-tablet} {
    font-size: 20px;
    line-height: 1.15;
  }

  &--index {
    line-height: 1.15;
    text-align: center;
  }
}

.tag-list__item {
  display: inline;
}

.tag-list__link {
  color: $basic-grey-font;
}
