.tag-list {
  padding-left: 0;
  list-style: none;
  line-height: 1;
  font-weight: 400;

  &--index {
    line-height: 1.15;
  }
}

.tag-list__item {
  display: inline;
}

.tag-list__link {
  color: $basic-grey-font;
}
