.todo-list {
  width: 100%;
  border-radius: 5px;
  color: $basic-blue;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  counter-reset: myCounter;

  @media #{$min-tablet} {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    font-size: 24px;
  }

  @media #{$min-desktop} {
    grid-template: auto / repeat(4, 1fr);
  }
}

.todo-list__item {
  position: relative;
  list-style: none;
  padding: 22px 24px;

  @media #{$min-tablet} {
    padding: 30px 35px 62px 32px;
  }

  &--choose {
    background-color: $orange-1;
  }

  &--research {
    background-color: $orange-2;
  }

  &--find {
    background-color: $yellow-2;
  }

  &--travel {
    background-color: $yellow-1;
  }

  &:first-child {
    border-radius: 7px 7px 0 0;

    @media #{$min-tablet} {
      border-radius: 21px 0 0 0;
    }
  }

  &:nth-child(2) {
    @media #{$min-tablet} {
      border-radius: 21px 21px 0 0;
    }
  }

  &:last-child {
    border-radius: 0 0 7px 7px;

    @media #{$min-tablet} {
      border-radius: 0 0 21px 21px;
    }
  }

  &:nth-last-child(2) {
    @media #{$min-tablet} {
      border-radius: 0 0 0 21px;
    }
  }

  &:nth-child(odd) {
    @media #{$min-tablet} {
      margin-right: -20px;
    }
  }
}

.todo-list__item::after {
  position: absolute;
  top: 30%;
  right: 8%;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: $basic-white;

  @media #{$min-tablet} {
    font-size: 30px;
    top: 60%;
    left: 33px;
  }
}

.todo-list__text {
  padding: 0;
  margin: 0;
  width: 64%;
}
