.todo-list {
  border-radius: 5px;
  color: $basic-blue;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  counter-reset: myCounter;

  @media #{$min-tablet} {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  @media #{$min-desktop} {
    grid-template: auto / repeat(4, 1fr);
  }
}

.todo-list__item {
  position: relative;
  list-style: none;
  padding: 22px 24px;

  &--choose {
    background-color: $orange-1;
  }

  &--research {
    background-color: $orange-2;
  }

  &--find {
    background-color: $yellow-2;
  }

  &--travel {
    background-color: $yellow-1;
  }

  &:first-child {
    border-radius: 7px 7px 0 0;
  }

  &:last-child {
    border-radius: 0 0 7px 7px;
  }
}

.todo-list__item::after {
  position: absolute;
  top: 30%;
  right: 8%;
  counter-increment: myCounter;
  content:counter(myCounter);
  color: $basic-white;
}

.todo-list__text {
  padding: 0;
  margin: 0;
  width: 142px;
}
