.tooltip {
  position: absolute;
  z-index: 25;
  display: block;
  padding: 20px 23px;
  border-radius: 4px;
  width: max-content;
  background-color: $blue-5;
  color: $basic-white;
  font-size: 16px;
  line-height: 1;
  text-align: center;

  @media #{$min-tablet} {
    font-size: 20px;
  }
}
