.transport-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $basic-blue-light;
  opacity: 0.15;

  &--checked {
    opacity: 1;
  }

  &--background {
    border-radius: 50%;
    background-color: $basic-white;
    &::before {
      width: 17px;
      height: 17px;
      opacity: 1;
    }
  }

  input:checked + & {
    &::before {
      opacity: 1;
    }
  }
}
