.users {
  background-color: $blue-3;
  position: relative;

  background-image: url("../img/rogovaya-back-mobile.png"), url("../img/smolov-back-mobile.png");
  background-position: left top 335px, right 25px top 65px;
  background-repeat: no-repeat, no-repeat;

  &::before {
    position: absolute;
    left: 0px;
    top: 63px;
    content: "";
    border-radius: 0 20px 20px 0;
    width: 113px;
    height: 132px;
    background-color: $blue-4;
  }
}

.users__wrap {
  position: relative;

  @media #{$min-desktop} {
    display: grid;
    grid-template: repeat(4, min-content) / repeat(2, 1fr);
  }
}

.users__subheading {
  @include index-text-margin-left;
  margin-right: 25px;
  margin-bottom: 22px;
}

.users__description {
  @include index-text-margin-left;
  margin-right: 25px;
  margin-bottom: 22px;

  &--bold {
    font-weight: 700;
  }
}

.users__inner {
  @include container-fix;
}

.users__list {
  margin-top: 55px;
  margin-bottom: 19px;
  padding-left: 0;
  list-style: none;

  @media #{$min-tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$min-desktop} {
    order: 1;
    grid-column: 2;
    grid-row: 1 / span 4;
  }
}

.users__item {
  margin-bottom: 10px;

  @media #{$min-tablet} {
    flex-basis: 50%;
  }
}
