.user-catalog__list {
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
}

.user-catalog__item {
  border-radius: 20px;
  margin-bottom: 9px;
  padding-top: 13px;
  padding-bottom: 23px;
}

.user-catalog__expand {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  padding-left: 33px;
  width: 150px;
  color: inherit;
  font-size: 17px;
  line-height: 1.76;
  font-weight: 700;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 2px;
    width: 18px;
    height: 2px;
    background-color: $basic-blue-light;
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }
}
