.users-catalog-contries-list {
  list-style: none;
}

.users-catalog-contries-list__country {
  position: relative;
  margin-bottom: 11px;
  padding-left: 40px;
  color: $basic-blue-light;
  font-size: 15px;
  line-height: 1.07;
  font-weight: 500;
  text-transform: uppercase;

  @media #{$min-tablet} {
    margin-bottom: 0;
    margin-right: 28px;
    padding-left: 45px;
    font-size: 20px;
    line-height: 1.5;
  }

  @media #{$min-desktop} {
    margin-right: 0;
    margin-bottom: 16px;
    padding-left: 52px;
    line-height: 1;
  }

  &:last-child {
    @media #{$min-tablet} {
      margin-right: 0;
    }

    @media #{$min-desktop} {
      margin-bottom: 0;
    }
  }
}

.users-catalog-contries-list__country::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  border-radius: 2px;
  width: 26px;
  height: 18px;

  @media #{$min-tablet} {
    width: 35px;
    height: 24px;
  }
}

@each $country in $countries {
  .users-catalog-contries-list__country {
    &--#{$country}::before {
      background-image: url("../img/#{$country}-extra-small.png");

      @media #{$min-tablet} {
        background-image: url("../img/#{$country}-small.png");
      }
    }
  }
}
