.user-catalog__list {
  padding: 0;
  list-style: none;
}

.user-catalog__expand {
  display: block;
  color: inherit;
  font-size: 17px;
  line-height: 1.76;
  font-weight: 700;
  text-transform: uppercase;
}
