.user-item {
  position: relative;
  background-color: $basic-white;
  border-radius: 8px;
  color: $basic-blue;

  @media #{$min-tablet} {
    border-radius: 20px;
  }

  &:hover,
  &:focus {
    z-index: 25;
    filter: drop-shadow(0 4px 9px rgba($basic-black, 0.16));

    .user-item__photo {
      transition: transform 0.3s;
      transform: scale(1.05) translateY(-7px);
    }
  }
}

.user-item__level {
  position: absolute;
  z-index: 20;
  top: 18px;
  left: 18px;

  @media #{$min-tablet} {
    top: 20px;
    left: 22px;
  }
}

.user-item__photo-wrap {
  display: block;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  width: 270px;
  height: 270px;

  @media #{$min-tablet} {
    border-radius: 20px 20px 0 0;
    width: 285px;
    height: 285px;
  }
}

.user-item__photo {
  display: block;

  @media #{$min-tablet} {
    width: 285px;
    height: 285px;
  }
}

.user-item__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px 16px;

  @media #{$min-tablet} {
    padding: 28px 20px 25px;
  }

  @media #{$min-desktop} {
    padding-bottom: 22px;
  }
}

.user-item__countries {
  position: absolute;
  top: -10px;
  width: 100%;

  @media #{$min-tablet} {
    top: -13px;
  }
}

.user-item__countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.user-item__country {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.user-item__name {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  color: $basic-blue-light;
  font-size: 21px;
  line-height: 1;
  font-weight: 700;

  @media #{$min-tablet} {
    display: block;
    margin-bottom: 24px;
    width: 150px;
    font-size: 24px;
    line-height: 0.92;
  }

  &:hover,
  &:focus {
    opacity: 0.7;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    @include user-status;
    position: absolute;
    top: 48%;
    left: -13%;
    content: "";
  }

  &--offline {
    &::before {
      @include user-status-offline;
    }
  }

  &--online {
    &::before {
      @include user-status-online;
    }
  }
}

.user-item__link {
  color: inherit;
}

.user-item__tags {
  margin-bottom: 11px;
  width: 180px;
  line-height: 1.15;
  text-align: center;

  @media #{$min-tablet} {
    margin-bottom: 20px;
    width: 225px;
  }

  @media #{$min-desktop} {
    margin-bottom: 22px;
  }
}

.user-item__transport-list {
  padding-left: 0;
}
