$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


$mobile-max: (
  max-width: $tablet-width - 1px,
);

$tablet-min: (
  min-width: $tablet-width,
);

$desktop-min: (
  min-width: $desktop-width,
);


$basic-white: hsl(0, 0, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-grey-font: hsl(0, 0, 27%);

$blue-background-1: hsl(229, 46%, 18%);
$blue-background-2: hsl(229, 48%, 18%);
$basic-blue: hsl(228, 41%, 15%);
$basic-blue-light: hsl(224, 52%, 24%);
$blue-1: hsl(229, 72%, 27%);

$grey-background-1: hsl(227, 33%, 95%);
$grey-background-2: hsl(229, 28%, 92%);
$grey-background-3: hsl(227, 37%, 88%);
$light-blue-background-1: hsl(226, 36%, 91%);
$grey-1: hsl(227, 16%, 82%);

$orange-1: hsl(27, 100%, 59%);
$orange-2: hsl(34, 100%, 59%);
$orange-3: hsl(16, 100%, 57%);

$yellow-1: hsl(47, 100%, 65%);
$yellow-2: hsl(41, 100%, 59%);
