$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


$mobile-max: (
  max-width: $mobile-width - 1px,
);

$tablet-min: (
  min-width: $tablet-width,
);

$desktop-min: (
  min-width: $desktop-width,
);

$basic-blue-background: hsl(229, 46%, 18%);
$primary-grey-background: hsl(227, 33%, 95%);
$secondary-grey-background: hsl(229, 28%, 92%);

$basic-blue: hsl(228, 41%, 15%);
$basic-white: hsl(0, 0, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-grey-font: hsl(0, 0, 27%);

$primary-orange: hsl(27, 100%, 59%);
$secondary-orange: hsl(34, 100%, 59%);
$primary-yellow: hsl(47, 100%, 65%);
$secondary-yellow: hsl(41, 100%, 59%);

$secondary-blue: hsl(229, 72%, 27%);
