$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$max-mobile: (
  max-width: $tablet-width - 1px,
);

$min-tablet: (
  min-width: $tablet-width,
);

$max-tablet: (
  max-width: $desktop-width - 1px,
);

$min-desktop: (
  min-width: $desktop-width,
);

$mobile-padding: 25px;
$tablet-padding: 40px;
$desktop-padding: 60px;

$basic-white: hsl(0, 0, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-grey-font: hsl(0, 0, 27%);

$blue-background-1: hsl(229, 46%, 18%);
$blue-background-2: hsl(229, 48%, 18%);
$basic-blue: hsl(228, 41%, 15%);
$basic-blue-light: hsl(224, 52%, 24%);
$blue-1: hsl(229, 72%, 27%);
$blue-2: hsl(228, 50%, 14%);
$blue-3: hsl(228, 46%, 18%);
$blue-4: hsl(229, 49%, 15%);
$blue-5: hsl(224, 60%, 16%);

$grey-background-1: hsl(227, 33%, 95%);
$grey-background-2: hsl(229, 28%, 92%);
$grey-background-3: hsl(227, 37%, 88%);
$grey-background-4: hsl(229, 38%, 92%);
$light-blue-background-1: hsl(226, 36%, 91%);
$light-blue-background-2: hsl(230, 39%, 88%);
$light-blue-background-3: hsl(233, 33%, 95%);
$grey-1: hsl(227, 16%, 82%);
$grey-2: hsl(0, 0%, 80%);
$grey-3: hsl(225, 15%, 90%);
$grey-4: hsl(0, 0%, 95%);
$grey-5: hsl(220, 16%, 89%);
$grey-6: hsl(228, 26%, 96%);

$orange-1: hsl(27, 100%, 59%);
$orange-2: hsl(34, 100%, 59%);
$orange-3: hsl(16, 100%, 57%);
$orange-5: hsl(20, 89%, 55%);

$yellow-1: hsl(47, 100%, 65%);
$yellow-2: hsl(41, 100%, 59%);

$green-1: hsl(90, 78%, 50%);

$red-1: hsl(0, 92%, 72%);
$red-2: hsl(0, 100%, 50%);
